body{
    /* background-image; */
    background-color: antiquewhite;
    background-size: cover;
    filter:brightness(40%);
}

h1{
    text-align: center;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

table:last-child{
    width: 1400px;
    min-height: 1000px;
    border: 1px solid black;
    padding-left: 100px;
    padding-top: 30px;
    font-size: 25px;
    color:rgb(15, 15, 15) ;
}

form{
    margin-bottom: 30px;
    margin-top: 30px;
}

input, select, button{
    height: 50px; 
    width: 250px;
    padding-left: 20px;
    margin-right: 10px;
}

select{
    margin-left: 10px;
}